/* google fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&family=Source+Sans+Pro:wght@600&display=swap'); 

/* Margin geral */
 * {
    
    margin: 0;
    padding: 0;
}
/* corpo do site */
body  {
   
    box-sizing: border-box;
    background-image: url(https://images3.alphacoders.com/551/551126.jpg); /* Imagem do fundo*/
    width: 100%; /* altura */
    height: 100px; /* largura */
    background-size: cover; /* especifica o tamanho das imagens de fundo. O tamanho da imagem pode ser totalmente ou apenas parcialmente comprimido com o objetivo de preservar sua proporção. O COVER ajusta a imagem o mais largamente possivel, cobrindo o tamanho do container */
    justify-content: center;
}

header{  /* edição de texto geral do conteudo do header - titulo  */
    
    color: white; 
    text-align: center;
    font-family: Source;
    padding: 10px; /* define uma a distância entre o conteúdo de um elemento e suas bordas.*/
    
}

h1{ /* edição do titulo*/
    color: white;
    text-align: center;
    font-family: Source;
    font-size: 32px; /* Tamanho da fonte.*/
    font-style: oblique;
    font-weight: 200;
    padding: 20px; /* define uma a distância entre o conteúdo de um elemento e suas bordas.*/
}

p{ 
    margin-left: -10px ;
    font-style: Roboto;
    font-size: 25px; /* Tamanho da fonte.*/
    text-align: center;
    color:white;
    padding: 10px 20px /* define uma a distância entre o conteúdo de um elemento e suas bordas.*/
}
iframe { /* edição do espaçamento video.*/
   margin-top: 20px; /* margem em relação ao topo da caixa acima.*/
   margin-left: 150px;  /* margem em relação a esquerda do site.*/ 
    
}

.orcamento { /* Outro Titulo */
    font-family: Source;
    padding: 30px;  /* define uma a distância entre o conteúdo de um elemento e suas bordas.*/
    color: white; /* Cor do texto.*/
    text-align: center;
    font-size: 40px; /* Tamanho da fonte.*/
}

li{ /* Lista.*/
    color: white; 
    text-align: center; 
    font-size: 20px; /* Tamanho da fonte.*/
}

footer{ /* Rodapé.*/
    text-align: center;
}

.instagram{ /* Ícones.*/
    margin:20px;
    width: 70px;
    height: 70px;

}
.youtube{ /* Ícones.*/
    margin:20px;
    width: 70px;
    height: 70px;
}

audio {
    width: 1250px;
    height: 54px;
 }
 audio::-webkit-media-controls-panel{
 background-color:maroon !important;
 }